# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset *chipotle.tsv*

In [23]:
chipo = pd.read_table("Exercise Data Files/Pandas Exercise Filtering Sorting Files/chipotle.tsv",sep="\t")

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [24]:
# removed $ and conerted to float
chipo['item_price'] = chipo['item_price'].apply(lambda x : x.strip('$')).astype(float)
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [26]:
# product cost more than $10
chipo[chipo['item_price'] > 10]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

In [100]:
#Added a column with per unit price of item
chipo['price_perunit'] = chipo['item_price']/chipo['quantity']

# filtered unique rows and took and fetched only required columns
chipo.groupby(by = ['item_name', 'price_perunit']).count().reset_index().iloc[:,0:2]

             item_name  price_perunit
0    6 Pack Soft Drink           6.49
1        Barbacoa Bowl           8.69
2        Barbacoa Bowl           8.99
3        Barbacoa Bowl           9.25
4        Barbacoa Bowl          11.48
..                 ...            ...
134  Veggie Salad Bowl           8.75
135  Veggie Salad Bowl          11.25
136  Veggie Soft Tacos           8.49
137  Veggie Soft Tacos           8.75
138  Veggie Soft Tacos          11.25

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [101]:
chipo.sort_values(by=['item_name'],ascending=True).reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price,price_perunit
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [102]:
expensive = chipo.sort_values(by=['item_price'],ascending=False).reset_index(drop=True)[0:1] # sort by max price and take first row
expensive['quantity'] # print quantity

0    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [103]:
len(chipo[chipo['item_name'] == 'Veggie Salad Bowl'])

18

### Step 9. How many times people orderd more than one Canned Soda?

In [104]:
len(chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)])

20